<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{page.title}}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1><a href="./">{{page.title}}</a></h1>
        <h2>Simple Data Processing</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
{{ content }}
        </section>

        <aside id="sidebar">
          <a href="{{site.compute_git_url}}" class="button">
           <div class="button_text_22">
             <small>View project on</small>
              GitHub
           </div>
          </a>

          <a href="./download.html" class="button">
           <div class="button_text_22">
               <small>Source code and</small>
               Downloads
           </div>
          </a>

          <a href="./manual.html" class="button">
           <div class="button_text_22">
            Manual
           </div>
          </a>

          <a href="./examples.html" class="button">
           <div class="button_text_10">
            Examples - Basic Usage
           </div>
          </a>

          <a href="./example_stats.html" class="button">
           <div class="button_text_10">
            Examples - Statistics
           </div>
          </a>

          <a href="./galaxy.html" class="button">
           <div class="button_text_10">
               Galaxy - Demo
           </div>
          </a>

        </aside>
      </div>
    </div>

  </body>
</html>

